* {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-left: 10px !important;
}

h3 {
    margin-bottom: 40px !important;
}

ul * {
    font-size: 14px !important;
    margin-bottom: 8px !important;
}

.linkedin-header{
    margin-bottom: 6px !important;
}

.linkedin-anchor{
    font-size: 14px !important;
}
